@media only screen and (min-width: 38rem) {

h1 {
    font-size: 1.5rem;
    margin: 1rem 0;
    text-align: center;
}

#discover-items div {
    display: grid;
    grid-template-areas:
        "image title"
        "image description"
        "image address";
}

a {
    text-decoration: none;
    color: #3D405B;
}

#discover-items div img {
    grid-area: image;
    width: 300px;
}

#discover-items div h3 {
    grid-area: title;
}

#discover-items div p {
    grid-area: description;
}

#discover-items div address {
    grid-area: address;
}

}