@media only screen and (min-width: 64rem) {
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 20px;
        padding: 10px 20px;
    }

    main img {
        max-height: 350px;
    }
    
    #logo {
        width: 40px;
        height: auto;
    }
    
    header span {
        font-weight: bold;
        font-size: 1.2rem;
        color: #3D405B;
        margin-left: 10px;
    }
    header img {
        max-width: 50px;
        max-height: 55px;
    }
    
    .hamburger {
        display: none; /* hide hamburger on desktop */
    }
    
    .navigation {
        display: flex !important;
        margin-left: auto; /* push nav links to the right */
        justify-content: flex-end;
    }
    
    .navigation ul {
        display: flex;
        gap: 20px;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    .navigation a {
        text-decoration: none;
        font-weight: bold;
        color: #333;
    }
    
    .navigation a:hover {
        color: #E07A5F;
    }

    h1 {
    font-size: 2.5rem;
    margin: 1rem 0;
    text-align: center;
}

    /* *------------------- DISCOVER ------------------- */
    
    #discover-items {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    /* ------------------- FOOTER ------------------- */
    .foot {
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
    }
    
    .social a {
        margin-top: 35px;
    }
    
    .socoal a:hover {
        color: #E07A5F;
        font-size: 50px;
    }
    .spotlights {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 1rem;
        margin: 2rem 0;
    }

    .hero button {
          background-color:black;
          color: white;
          text-align: center;
          position:absolute;
          top: 350px; /* Add this line to push it below the h1 */
          padding: 10px 30px;
          border: none;
          border-radius: 50px;
          cursor: pointer;
          font-size: small;
          font-weight: bold;
          left: 46%;          
    }

}
