/* ---------------- COLOR SCHEME ---------------- 
terra cotta #E07A5F
deep slate blue #3D405B
*/

/********************** SITE WIDE ***********************/

* {
    font-family: "josefin sans", sans-serif;
    box-sizing: border-box;
}

/********************** HEADER ***********************/
header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    align-items: end;
    border-bottom: solid 1px #ddd;
    column-gap: 8px;
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 5px; /**/
}

header span {
    font-size: 1.2rem;
    color: #3D405B;
}

/********************** HAMBURGER NAVIGATION ***********************/
.hamburger {
    background: none;
    border: none;
    font-size: 20px;
    color: #3D405B;
    cursor: pointer;
    font-family: Verdana, Tahoma, sans-serif;
}

.hamburger::before {
    content: "\2630"; /**/
    font: 2rem; 
}

.hamburger.show::before {
    content: "\00d7";
}

/********************** NAVIGATION ***********************/
.navigation {
    display: none
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul {
    background-color: black;
}

a {
    color: white;
}

main {
    padding: 0 10px;
}

.navigation a {
    display: block;
    padding: .8rem 10px;
    color: #3D405B;
    text-decoration: none; 
    border-bottom: solid 1px #ddd;
}

.navigation li.current {
    background-color: #eee;
}

.navigation a:hover {
    background-color: #E07A5F;
}

h1 {
    margin: 1rem 10px;
    color: #3D405B
}
.home div, .courses div, .subjects div {
    background-color: grey
}
    
.home div img {
    padding-left: 70px;
    margin-bottom: 12px;
    width: 80%;
    height: auto;
}

h2 {
    text-align: center;
    background-color:black;
    color: white;
    margin-top: 5px;
    border-radius: 3px;
    }
h3 {
    text-align: center;
    border-radius: 3px;
}
section p {
    text-align: center;
}

.home {
    display: block;
    grid-template-columns: 2fr 1fr;
    column-gap: 15px;
}

.courses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    cursor: pointer;
}

.courses :hover {
    background-color: #ddd;
}

.subjects {
    display: block;
    grid-template-columns: repeat(3, 1fr);
    gap: 7px; 
}

.subjects div {
    margin: 0 auto;
    background-color: grey
}

/********************** FOOTER ***********************/
footer {
    background-color: #eee;
    padding: 1rem 10px;
    text-align: center;
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 8px;
    margin-bottom: 7px;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: #ccc solid 1px;
    border-radius: 22px;
}

.social img {
    width: 22px;
    height: 22px;
}

.social a:hover {
    background-color: #ddd;
}
