@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	display: flex;
	place-items: center;
	justify-content: center;
	font-family: Roboto, sans-serif;
}

main {
	margin: 0;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 1rem;
	width: 760px;
	background-color: rgba(225, 225, 255, 0.2);
}

p {
	margin: 1rem;
	display: flex;
}

.label {
	display: block;
	width: 175px;
	font-weight: 700;
	color: navy;
	text-align: right;
	margin-right: 10px;
}

.smaller {
	font-size: smaller;
}
