/* =======================
   DESKTOP VIEW (64+)
======================= */
@media only screen and (min-width: 64rem) {
  header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .hamburger {
    display: none;
  }

  #primary-nav ul {
    display: flex !important;
    flex-direction: row;
    background: none;
    margin-top: 0;
  }

    main {
    padding: 4rem 3rem;
  }

  .business-groups {
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
    max-width: 1200px;
    margin: 0 auto;
  }

  .business-groups div {
    padding: 2rem;
  }

  .business-groups img {
    height: 240px;
  }

  main h1 {
    font-size: 2.2rem;
  }
}

  .foot {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }
