/* =======================
   MEDIUM VIEW (38+)
======================= */
@media only screen and (min-width: 38rem) {
      main {
    padding: 3rem 2rem;
  }

  /*****form*****/

  .form-container {
    padding: 2.5rem;
  }

  main h1 {
    font-size: 2rem;
  }

  button {
    align-self: flex-start;
    width: auto;
    padding: 0.9rem 1.5rem;
  }
} 

