/* =======================
   DESKTOP VIEW (64+)
======================= */
@media only screen and (min-width: 64rem) {
  header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .hamburger {
    display: none;
  }

  #primary-nav ul {
    display: flex !important;
    flex-direction: row;
    background: none;
    margin-top: 0;
  }

  /****form****/
  
  .contact-page {
    padding: 3rem 0;
  }

  .contact-page h1 {
    font-size: 2.4rem;
    margin-bottom: 2rem;
  }

  .form-container {
    max-width: 800px;
    padding: 2.5rem 3rem;
  }

  form {
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    gap: 1.5rem 2rem;
  }

  /* Make message and button span full width */
  textarea,
  button {
    grid-column: span 2;
  }

  button {
    width: 40%;
    justify-self: center;
  }

  button:hover {
    background: #0059b3;
  }


    /*****footer******/

      .foot {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }

}