/* =======================
   DESKTOP VIEW (64+)
======================= */
@media only screen and (min-width: 64rem) {
  header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .hamburger {
    display: none; /* hide hamburger on desktop */
  }

  #primary-nav ul {
    display: flex !important;
    flex-direction: row;
    background: none;
    margin-top: 0;
  }

  body {
    max-width: 1500px;
    margin: 0 auto;
  }

  .form-container {
    max-width: 800px;
    padding: 2.5rem 3rem;
  }

  form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem 2rem;
  }

  textarea,
  button {
    grid-column: span 2;
  }

  button {
    width: 40%;
    justify-self: center;
  }
  
  .foot {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    display: flex;
    gap: 15rem;
  }


}