/* =======================
   MEDIUM VIEW (38+)
======================= */
@media only screen and (min-width: 38rem) {
  .form-container {
    max-width: 600px;
    padding: 2rem;
  }

  h1 {
    font-size: 2rem;
  }

  label {
    font-size: 1rem;
  }

  input,
  textarea,
  select {
    font-size: 1.05rem;
  }

  button {
    font-size: 1.05rem;
  }
}