/* ========================================
   LARGE VIEWPORT (DESKTOP: ≥ 64rem)
   ======================================== */
@media only screen and (min-width: 64rem) {
  body {
    max-width: 1500px;
    margin: 0 auto;
  }

  .site-header {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }

  .hamburger {
    display: none;
  }

  .primary-nav ul {
    display: flex !important;
    flex-direction: row;
    background: none;
    margin-top: 0;
  }

  .hero {
    text-align: left;
  }

  .hero-inner {
    left: 45%;
    top: 38%;
    transform: translateY(-50%);
    width: 45%;
  }

  .grid.grid-3 {
    grid-template-columns: repeat(3, 1fr);
  }

  .foot {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }

  .newsletter-container {
    max-width: 700px;
  }
}