/* DESKTOP VIEW (min-width: 64rem) */
@media only screen and (min-width: 64rem) {
  header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .hamburger {
    display: none;
  }

  nav ul {
    display: flex !important;
    flex-direction: row;
    background: none;
  }

  .hero {
    text-align: left;
  }

  .hero-inner {
    left: 10%;
    transform: translateY(-50%);
  }

  .grid.grid-3 {
    grid-template-columns: repeat(3, 1fr);
  }

  .foot {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }

  .newsletter-container {
    max-width: 700px;
  }
}